body.light-mode {
    background: var(--bg-gradient-light);
    color: var(--text-color-light);
}
.light-mode  {
    background: var(--form-bg-light);
    transform: translateY(0);
}

.theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1000;
    padding: 10px;
    border-radius: 50%;
    width: auto;
    transition: transform 0.3s ease;
}

.theme-toggle:hover {
    transform: scale(1.1);
    background: none;
}
.light-mode {
    color: #1a472a;
}

.light-mode h1 {
    color: var(--label-color-light);
}