nav {
    display: flex;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    justify-content: space-between; /* Assure que le titre et le bouton de thème sont bien espacés */
}

nav > a {
    width: 100%;
    transition: 0.3s;
    text-align: center;
}

nav > a:link, a:visited {
    text-decoration: none;
}

nav > a:active {
    transform: translateY(10px);
}

nav > a > h1 {
    margin-left: 20px;
    color: rgb(255, 255, 196);
    font-family: Rubik Iso;
    font-size: 2em;
    transition: 0.3s;
    border-radius: 10px;
    border: 2px solid white;
    padding: 10px;
    width: 300px;
}

nav > a > h1:hover {
    color: white;
    transform: translateY(5px);

}

#divNav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Centrer le titre et aligner le bouton à droite */
}

#divNav:last-child {
    margin-right: 10px;
}

.divUnBtn {
    margin: 0 10px;
}

.divUnBtn > a:link, .divUnBtn > a:visited, .divUnBtn > a:link {
    font-family: Rubik Iso;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid white;
    text-decoration: none;
    color: antiquewhite;
    transition: 0.5s;
}

.divUnBtn > a:hover {
    transform: translateY(5px);
}

/* Style spécifique du bouton thème */
.divBtnTheme {
    display: flex;
    align-items: center;
    justify-content: center;
}

#toggleTheme {
    border-radius: 10px;
    border: 2px solid white;
    padding: 10px 20px; /* Augmente la taille du bouton */
    font-size: 16px; /* Taille de texte plus grande pour une meilleure visibilité */
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    
}

#toggleTheme:hover {

    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.2);
}

body.dark #toggleTheme {

    background-image: url("/img/bck_sombre.jpg");
}

.divUnBtn:hover{
transform:translateY(3px);
transition:0.3s;
}

.divUnBtn:active{
    transform:translateY(-3px);
    transition:0.3s;
}